<div class="row" ng-hide="!editando">
	<div class="col-md-12" align="center">
		<a class="btn btn-success" ng-click="guardar_todo()">Guardar todos los cambios</a>
	</div>
</div>
<h3 class="titulo_proyecto" align="center" style="background-color: {{proyecto.Proyect.color}};"><a  ng-hide="editando" >{{proyecto.Proyect.nombre}}</a></h3>
	<div ng-hide="!editando">Color</div><input colorpicker="hex" type="text" ng-model="proyecto.Proyect.color" ng-hide="!editando" />
	<input ng-model="proyecto.Proyect.nombre" class="form-control" ng-hide="!editando" />
<div class="row">
			<div class="col-md-12">
				<h3>Información básica <a ng-hide="editando" ng-click="editar_basicos()" class="editar">editar</a></h3>
				<table class="table table-bordered">
					<tr>
						<td width="15%">Código curso</td><td width="35%"></td>
						<td width="15%">Semestre</td><td width="35%"><a ng-hide="editando">{{proyecto.Proyect.semestre}}</a>
							<select class="form-control" ng-hide="!editando" ng-model="proyecto.Proyect.semestre">
								<option value="otoño">otoño</option>
								<option value="primavera">primavera</option>
								<option value="verano">verano</option>
							</select>
							</td>
					</tr>
					<tr>
						<td>Fecha inicio</td><td><a ng-hide="editando">{{proyecto.Proyect.fecha_inicio|date:"dd-MM-yyyy"}}</a>
							<input type="text" ng-hide="!editando" datepicker-popup="dd-MM-yyyy" ng-model="proyecto.Proyect.fecha_inicio" is-open="cdate.customStartDate.open2" ng-click = "cdate.customStartDate.open2 = true"  max-date="maxDate" date-disabled="disabled(date, mode)" ng-required="true" class="form-control input-md" />
						</td>
						<td>Fecha final</td><td></td>
					</tr>
					<tr>
						<td>Creado por</td><td><a>{{proyecto.User.username}}</a></td>
					</tr>
					<tr>	
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3>Información del centro <a class="editar" ng-click="editar_cliente()" data-target="#editar_cliente" data-toggle="modal">editar</a></h3>
				<table class="table table-bordered">
					<tr>
						<td width="15%">Cliente</td><td><a>{{proyecto.Clgroup.nombre}}</a></td>
					</tr>
					<tr>	
						<td width="15%">Municipio / Centro</td><td><a>{{proyecto.Centro.nombre}}</a></td>
					</tr>
					<tr>
						<td>Dirección</td><td><a>{{proyecto.Centro.direccion}}</a></td>
					</tr>
					<tr>
						<td>Contacto</td><td><a>{{proyecto.Clprofile.nombres}} {{proyecto.Clprofile.apellidos}}</a></td>
						<td width="15%">Teléfono</td><td><a>{{proyecto.Clprofile.telefono}}</a></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3>Integrantes <a class="editar" ng-click="editar_miembros()" data-target="#editar_miembros" data-toggle="modal">editar</a></h3>
				<table class="table table-bordered">
					<thead>
						<tr><th>Cargo</th><th>Nombre</th><th>Teléfono</th><th>Email</th></tr>
					</thead>
					<tbody>
						<tr ng-repeat="miembro in proyecto.Profile">
							<td><a>{{miembro.Member.cargo}}</a></td>
							<td><a>{{miembro.nombres}} {{miembro.Profile.apellidos}}</a></td>
							<td><a>{{miembro.celular}}</a></td>
							<td><a>{{miembro.email_cms}}</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3>Alumnos <a class="editar" href="#!/proyectos/{{proyecto.Proyect.id}}/alumnos">editar</a></h3>
				<table class="table table-bordered">
					<thead>
						<tr><th>Nombre</th><th>Teléfono</th><th>Email</th><th>Dirección</th></tr>
					</thead>
					<tbody>
						<tr ng-repeat="alumno in proyecto.Meprofile">
							<td><a>{{alumno.nombres}}</a></td>
							<td><a>{{alumno.telefono}}</a></td>
							<td><a>{{alumno.email}}</a></td>
							<td><a>{{alumno.direccion}}</a></td></tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3>Programa <a class="editar">editar</a></h3>
				<table class="table table-bordered">
					<thead>
						<tr><th witdh="90%">Título</th><th witdh="10%">Descargar</th></tr>
					</thead>
					<tbody>
						<tr><td><a>{{proyecto.Programa.nombre}}</a></td>
							<td>
								<a href="../intranet/modelo/app/webroot/files/{{proyecto.Programa.archivo_programa}}">{{proyecto.Programa.archivo_programa}}</a><br>
								<a href="../intranet/modelo/app/webroot/files/{{proyecto.Programa.archivo_clase_clase}}">{{proyecto.Programa.archivo_clase_clase}}</a><br>
								<a href="../intranet/modelo/app/webroot/files/{{proyecto.Programa.archivo_cuadernillo}}">{{proyecto.Programa.archivo_cuadernillo}}</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
<div class="modal fade" id="editar_cliente">
	<div class="modal-dialog">
		  	<div class="modal-content">
		    	<div class="modal-body">
			    	<div class="dialog-header">
						<h3>Editar Cliente</h3> <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="dialog-body">
						<div class="row">
							<table class="table table-bordered">
								<tr><td>Cliente</td><td><a ng-if="sel_cliente" class="btn btn-success">{{sel_cliente.Clgroup.nombre}}</a></td></tr>
								<tr><td>Contacto</td><td><a ng-if="sel_contacto" class="btn btn-success">{{sel_contacto.nombres}} {{sel_contacto.apellidos}}</a></td></tr>
								<tr><td>Centro</td><td><a ng-if="sel_centro" class="btn btn-success">{{sel_centro.nombre}}</a></td></tr>
							</table>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<h4>Clientes</h4>
								<input class="form-control" type="text" ng-model="filtro_cliente.$" />
								<table class="table table-hover">
									<tr ng-repeat="cliente in clientes | filter:filtro_cliente">
										<td><a ng-click="setear_cliente($index)">{{cliente.Clgroup.nombre}}</a></td>
									</tr>
								</table>
							</div>
							<div class="col-lg-4">
								<h4>Contactos</h4>
								<input class="form-control" type="text" ng-model="filtro_contacto.$" />
								<table class="table table-hover">
									<tr ng-repeat="contacto in sel_cliente.Clprofile | filter:filtro_contacto">
										<td><a ng-click="setear_contacto(contacto)">{{contacto.nombres}} {{contacto.apellidos}}</a></td>
									</tr>
								</table>
							</div>
							<div class="col-lg-4">
								<h4>Centros</h4>
								<input class="form-control" type="text" ng-model="filtro_centro.$" />
								<table class="table table-hover">
									<tr ng-repeat="centro in sel_cliente.Centro | filter:filtro_centro">
										<td><a ng-click="setear_centro(centro)">{{centro.nombre}}</a></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="dialog-footer" align="right">
					    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
					</div>
		    	</div>
	  		</div>
		</div>
	</div>
	<div class="modal fade" id="editar_miembros">
	<div class="modal-dialog">
		  	<div class="modal-content">
		    	<div class="modal-body">
			    	<div class="dialog-header">
						<h3>Editar miembros del equipo</h3> <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="dialog-body">
						<div class="row">
							<div class="col-md-12">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>Nombres</th><th>Apellidos</th><th>Comuna</th><th>Cargo</th><th></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="reclutado in proyecto.Profile">
											<td>{{reclutado.nombres}}</td>
											<td>{{reclutado.apellidos}}</td>
											<td>{{reclutado.comuna_santiago}}</td>
											<td>
												<select class="form-control" ng-model="reclutado.Member.cargo">
													<option value="jefe">Jefe de proyecto</option>
													<option value="facilitador">Facilitador / ayudante</option>
													<option value="expositor">Expositor</option>
												</select>
											</td>
											<td><a class="glyphicon glyphicon-remove btn btn-danger" ng-click="quitar_recluta($index)"></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<table class="table table-bordered table-hover">
									<tbody>
										<tr>
											<td colspan="4"><input class="form-control" type="text" ng-model="filtro_reclutas.$" /></td>
										</tr>
										<tr ng-repeat="perfil in perfiles|filter:filtro_reclutas" ng-click="agregar_recluta($index)">
											<td>{{perfil.Profile.nombres}}</td>
											<td>{{perfil.Profile.apellidos}}</td>
											<td>{{perfil.Profile.comuna_santiago}}</td>
											<td>{{perfil.Profile.fecha_ingreso_cms}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="dialog-footer" align="right">
					    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
					</div>
		    	</div>
	  		</div>
		</div>
	</div>
	<div align="center"><a ng-really-click="borrar_proyecto()" ng-really-message="Estás segur@?" class="btn btn-danger">Borrar proyecto</a></div>