<div class="row">
	<div class="col-lg-12"><h3>Proyecto Nuevo</h3></div>
</div>
<div class="row etapas">
	<div class="col-lg-3 etapa">
		<div ng-class="barra('nombre')" class="etapa"><a ui-sref="nuevo_proyecto.nombre">1 Nombre</a></div>
	</div>
	<div class="col-lg-3 etapa">
		<div ng-class="barra('cliente')" class="etapa"><a ui-sref="nuevo_proyecto.cliente">2 Cliente</a></div>
	</div>
	<div class="col-lg-3 etapa">
		<div ng-class="barra('reclutamiento')" class="etapa"><a ui-sref="nuevo_proyecto.reclutamiento">3 Reclutamiento</a></div>
	</div>
	<div class="col-lg-3 etapa">
		<div ng-class="barra('programa')" class="etapa"><a ui-sref="nuevo_proyecto.programa">4 Programa</a></div>
	</div>
</div>
<br>
<div ui-view>

</div>