<div class="row nuevo-proyecto-main">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Agregue a los postulantes del proyecto<a> {{proyecto.nombre}}</a></h2>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Nombres</th><th>Apellidos</th><th>Comuna</th><th>Cargo</th><th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="reclutado in profiles">
								<td>{{reclutado.nombres}}</td>
								<td>{{reclutado.apellidos}}</td>
								<td>{{reclutado.comuna_santiago}}</td>
								<td>
									<select class="form-control" ng-model="reclutado.Member.cargo">
										<option value="jefe">Jefe de proyecto</option>
										<option value="facilitador">Facilitador / ayudante</option>
										<option value="expositor">Expositor</option>
									</select>
								</td>
								<td><a class="glyphicon glyphicon-remove btn btn-danger" ng-click="quitar_recluta($index)"></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-bordered table-hover">
						<tbody>
							<tr>
								<td colspan="4"><input class="form-control" type="text" ng-model="filtro_reclutas.$" /></td>
							</tr>
							<tr ng-repeat="perfil in perfiles|filter:filtro_reclutas" ng-click="agregar_recluta($index)">
								<td>{{perfil.Profile.nombres}}</td>
								<td>{{perfil.Profile.apellidos}}</td>
								<td>{{perfil.Profile.comuna_santiago}}</td>
								<td>{{perfil.Profile.fecha_ingreso_cms}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<a class="btn btn-lg anterior" ui-sref="nuevo_proyecto.cliente">Anterior</a>
			<a class="btn btn-lg siguiente" ui-sref="nuevo_proyecto.programa">Siguiente</a>
		</div>
</div>